<div  fxLayout="row" fxLayoutAlign="space-around center" >
  <div align="center" fxLayout="row" fxLayoutAlign="center center"  class="register-form">

    <form role="form" [formGroup]="formRegister" (ngSubmit)="onSubmit()">

      <mat-card class="mat-elevation-z8" flex="80">

        <mat-card-title>Novo Usuário</mat-card-title>

        <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">

          <mat-form-field>
            <input matInput type="text" formControlName="fullname"
              autocomplete="fullname" placeholder="Nome completo">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="email" formControlName="email"
              autocomplete="email" placeholder="E-mail">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" formControlName="login"
                  autocomplete="login" placeholder="Login" >
          </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="space-between stretch">
            <mat-form-field fxFlex="45">
              <input matInput type="text" formControlName="cpf"
                autocomplete="cpf" placeholder="CPF">
            </mat-form-field>
            <mat-form-field fxFlex="45">
              <input matInput type="text" formControlName="phone"
                autocomplete="phone" placeholder="Telefone" >
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between stretch">

            <mat-form-field  fxFlex="45">
              <input matInput type="password" formControlName="password1"
                type="password" autocomplete="off">
              <mat-placeholder>
                <mat-icon>lock</mat-icon> Senha
              </mat-placeholder>
            </mat-form-field>
            <mat-form-field fxFlex="45">
              <input matInput type="password" formControlName="password2"
                    class="form-control"  autocomplete="off">
              <mat-placeholder>
                <mat-icon>lock_outline</mat-icon> Confirmar senha
              </mat-placeholder>
            </mat-form-field>

          </div>


          <div fxLayout="row" fxLayoutAlign="space-between" >
              <button mat-flat-button color="primary" type="submit" routerLink="/auth/login">
                Login
              </button>
              <button mat-button color="primary" type="submit" [disabled]="!formRegister.valid">
                <mat-icon>done</mat-icon>&nbsp;Cadastrar
              </button>
          </div>



        </mat-card-content>
      </mat-card>
    </form>


  </div>
</div>




