<mat-toolbar color="primary">
  Megaleios
  <span fxFlex></span>
  <ng-container *ngIf="(authenticated$ | async)">
    <button mat-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>



<router-outlet></router-outlet>
